IDI_ICON1               ICON                    "logbook.ico"
IDI_ICON3               ICON                    "Tcl.ico"
IDI_ICON4               ICON                    "Tdi.ico"
IDI_ICON5               ICON                    "traverser.ico"
IDI_ICON6               ICON                    "scope.ico"
