[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TCL
Type=Application
Exec=mdstcl
Icon=/usr/local/mdsplus/pixmaps/mdstcl.png
X-GNOME-DocPath=
Terminal=true
Name[en_US]=TCL
GenericName[en_US]=TCL
Comment[en_US]=MDSplus Tree Command Language
Categories=GNOME;Application;MDSplus;X-Red-Hat-Base;
