[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TDIC
Type=Application
Exec=tdic
Icon=/usr/local/mdsplus/pixmaps/tdi.png
X-GNOME-DocPath=
Terminal=true
Name[en_US]=TDIC
GenericName[en_US]=TDIC
Comment[en_US]=MDSplus TDI Interpreter
Categories=GNOME;Application;MDSplus;X-Red-Hat-Base;
