<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDeleteWarning</key>
	<string>you can't delete me.</string>
	<key>IFPkgDescriptionDescription</key>
	<string>This sets up the MDSplus environment variables for all users at login time.  See the ReadMe file for other options. </string>
	<key>IFPkgDescriptionTitle</key>
	<string>MDSplus Logicals</string>
	<key>IFPkgDescriptionVersion</key>
	<string>1.0b2</string>
</dict>
</plist>
