#!/bin/sh
#!
#
exec env \
LD_LIBRARY_PATH=$MDSPLUS_DIR/lib \
SHLIB_PATH=$MDSPLUS_DIR/lib \
CLASSPATH=$HOME:$MDSPLUS_DIR/java/classes/jScope.jar:$MDSPLUS_DIR/java/classes/jTraverser.jar:$MDSPLUS_DIR/java/classes/jDispatcher.jar:$MDSPLUS_DIR/java/classes: \
java jDispatchMonitor $1 $2 $3 $4 $5
