#!/bin/sh
#!
#! display MDSplus javascope
#
java=`which java`
if ( uname -p | grep 64 > /dev/null )
then
  if (file -L $java } grep 64i-bit > /dev/null )
  then 
    lib=lib64
  else
    lib=lib32
  fi
else
  lib=lib
fi
exec env \
$java -Djava.library.path=".:$MDSPLUS_DIR/${lib}:$LD_LIBRARY_PATH:$SHLIB_PATH:$DYLD_LIBRARY_PATH:$PATH" \
 -Xss5M -jar $MDSPLUS_DIR/java/classes/jTraverser.jar $*
