[Desktop Entry]
Encoding=UTF-8
Name=jTraverser
Comment=MDSplus JAVA based MDSplus Tree Manipulation application
Exec=jTraverser
Icon=/usr/local/mdsplus/pixmaps/jtraverser.png
Terminal=false
Type=Application
Categories=GNOME;Application;MDSplus;X-Red-Hat-Base;
