#!/bin/sh
#!
#! display MDSplus javascope
#
env \
CLASSPATH=libdir/jTraverser.jar:libdir/MRJClasses.zip:MAKEJAVADIR/classes/jTraverser.jar:MAKEJAVADIR/classes/MRJClasses.zip \
java jTraverser.jTraverser $1 $2 $3 $4 $5 $6 $7
